page-register {
    .sliderOverflow {
        height: 100%;
        overflow-x: auto;
    }  
    
    .select_ele  .item-inner{
        border-bottom: solid 1px transparent !important;
    }

    .register_page_header{
        margin-top: -5px;
    }
    .register_page_header .fontSizeIcon {
        font-size: 1.5em;
        color: #1abc9c;
    }
    .fixed_bar_login_register {
        text-align: center
    }
    .fixed_bar_login_register .fontSizeIcon {
        font-size: 1.8em;
        color: #fff;
    }
    .register_page_title {
        margin-top: 25px;
    }
    .register_page_title h1 {
        font-size: 25px;
        color:#1abc9c;
        font-family: "CircularBold";
        margin-top:5rem !important;
    }
    .register_page_title p {
        font-size: 15px;
        font-family: "open sans regular";
        color:#666;
    }
    .register_page_form {
        margin-top: 35px;
        margin-bottom: 50px;
    }
    .registerInfoPerso p {
        font-family: "CircularBold";
        font-size: 14px;
        text-align: left;
    }
    .badge_progression_register {
        display: inline-block;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid #1abc9c;
        padding-left: 7px;
        padding-top: 7px;
        margin-top: -10px;
        background: #1abc9c;
        color: #fff;
        font-family: "CircularBold";
        font-size:16px;
    }
    /*form*/
    .item-md {
        padding-left: 0px;
    }
    .label-md[stacked] {
        font-size: 1.7rem;
        /*text-transform:uppercase;*/
       
        color:#555;
    }
    .item-md.item-input.item-input-has-focus .item-inner,
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: #008489;
        -webkit-box-shadow: inset 0 -1px 0 0 #008489;
        box-shadow: inset 0 0px 0 0 #008489;
    }
    .list-md .item-input.item-input-has-focus:last-child,
    .list-md .item-input.input-has-focus:last-child {
        border-bottom-color: #008489;
        -webkit-box-shadow: inset 0 -1px 0 0 #008489;
        box-shadow: inset 0 0px 0 0 #008489;
    }
    .item-input-has-focus .label-md[stacked],
    .input-has-focus .label-md[stacked],
    .item-input-has-focus .label-md[floating],
    .input-has-focus .label-md[floating] {
        color: #008489;
    }
}