page-configuration-charges {
    .sliderOverflow {
        height: 100%;
        overflow-x: auto;
    }
    .welcomePage {
        width: 100%;
    }
    .fontSizeIcon {
        font-size: 2em;
        color: #fff;
    }
    .welcome_page_header .fontSizeText {
        font-size: 1.3em;
        font-family: "CircularBook";
        color: #fff;
    }
    .headerWelcomePage {
        width: 100%;
        background: #1abc9c;
        height: 150px;
    }
    .headerWelcomePage .closePage span {
        color: #fff;
        font-family: 'open sans semibold';
        font-size: 20px;
    }
    .headerWelcomePage .textHeader {
        margin-top: 20px;
        text-align: center
    }
    .headerWelcomePage .textHeader h1 {
        color: #fff;
        font-family: 'CircularBold';
        font-size: 30px;
        line-height: 35px;
    }
    .footerButton {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 70px;
        background: white;
        border-top: 1px solid rgb(220, 220, 220)
    }
    .headerBodyConfig h3 {
        font-family: 'OpenSans-regular';
        font-size: 16px;
        background: #fff;
        text-align: center;
        padding: 15px 5px;
        color: #aaa;
    }
    .CorpsBodyConfig {
        margin-bottom: 80px;
    }
    ul {
        border-radius: 2px;
        list-style: none;
        overflow: hidden;
        background: #fff;
        margin: 15px auto 0;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }
    li {
        padding: 20px 10px;
        margin: auto;
        position: relative;
        margin-left: -35px;
    }
    li.active h4 {
        color: white;
    }
    li:before {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    li .circle {
        width: 50px;
        height: 50px;
        background: #eee;
        border-radius: 9999px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 12px;
        position: relative;
        z-index: 10;
        overflow: hidden;
    }
    li .circle img {
        width: 100%;
    }
    li h4 {
        display: inline-block;
        font-family: 'OpenSans-semiBold';
        color: #666;
        font-weight: 500;
        font-size: 14px;
        margin: 0;
        vertical-align: middle;
        position: relative;
        top: 5px;
        left: -5px;
        z-index: 10;
        transition: all .5s;
    }
    li input {
        vertical-align: middle;
        display: none;
    }
    li input+label {
        display: inline-block;
        background: #fff;
        border: solid 2px #1abc9c;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        right: 10px;
        top: 25px;
        text-align: center;
        padding-top: 3px;
        color: transparent;
        cursor: pointer;
        transition: all .2s;
    }
    li input:checked+label {
        background: #1abc9c;
        color: #fff;
        content: "✔";
        font-size: 22px;
    }
    li input:checked+label:after {
        content: "✔";
    }
    .desc_filiere {
        font-size: 12px;
        position: relative;
        top: 0px;
        font-family: 'OpenSans-Light';
        color: #aaa;
    }
}